.navcontainer{
    background-color: #f7f7f7;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navlogo{
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sammy{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}

.resort{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #795548;
    text-shadow: 1px 1px 1px #795548;
}


.navlink{
    color: #222222;
    margin: 0px 16px;
    padding: 8px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    background: transparent;
    transition: all .3s linear;
}

li{
    list-style: none;
}




@media screen and (max-width: 600px){
    
/*    
    .navlist{
   
        height: 100vh; 
 width: 50vw;
        position: absolute; 
        z-index: 1;
        top: 0; 
        left: 0;
        background-color: #795548;
        overflow-x: hidden;
        padding-top: 60px; 
        transition: 0.5s; 
    }
    
      .navlogo{
        display: none;
      }
     */
        .navlink {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 15px;
            color: #f1f1f1;
            display: block;
            transition: 0.3s;
          
        }
     
            }

       
            